{% extends "layout.html" %}

{% block title %}
    Resources
{% endblock %}

{% block main %}
<main class="cards">
    <section class="card contact">
        <div class="icon">
            <img src="../static/images/Chat.png" alt="Contact us.">
        </div>
        <h3>Contact an expert</h3>
        <span>SEBI Registered Company Providing High Accuracy Tips in Stock Futures, Nifty Bank Option. 500+ Satisfied Clients with 24X7...</span>
        <button>
            <a style="text-decoration: none;color:white;" href="https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChcSEwjC1oeGtuaJAxW4qWYCHb29PQUYABACGgJzbQ&ae=2&aspm=1&co=1&ase=2&gclid=Cj0KCQiA6Ou5BhCrARIsAPoTxrBrjWc8MbekNjvkd8UaHotjfJicT7RqvuMCfVCBg-Ievaat7sBiK4waAiNzEALw_wcB&ohost=www.google.com&cid=CAESVuD2IaNGK-ac7Vsb_i7oC66sjZNmtruwyWZkcLNXHhWSEL8yh7gg00tx4RceZNqliYdSWQAFUq36kcpGXNl5P-aT4lNOwT9D0GE9zjiv8A_HFG_0WzXG&sig=AOD64_2Y6MGXHPKIzqGEJnWFilQcA6bXEw&q&nis=4&adurl&ved=2ahUKEwic4YGGtuaJAxXFd2wGHVThAIYQ0Qx6BAgKEAE">
                Chat with an expert
            </a>
        </button>
    </section>
    <section class="card shop" style="height: 280px;">
        <div class="icon">
            <img src="../static/images/Bag.png" alt="Shop here.">
        </div>
        <h3>Explore important links</h3>
        <span>Visit this page to learn the basics of the stock market and explore important resources and links</span>
        <button>
            <a style="text-decoration: none;color:white;" href="https://tradebrains.in/resources-stock-market-india/">Important links</a>
        </button>
    </section>
    <section class="card about">
        <div class="icon">
            <img src="../static/images/Play.png" alt="Courses">
        </div>
        <h3>Courses</h3>
        <span>Explore Stock Market courses that cover skills in investment analysis, portfolio management, and trading strategies</span>
        <button>
            <a href="https://www.coursera.org/courses?query=stock%20market" style="text-decoration: none;color:white;">Go to courses</a>
        </button>
    </section>
</main>
{% endblock %}